APP_PORT=3003
APP_BASE_URL=http://localhost:3003/organizacard/api

# DB config / dockercompose
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=suasenha
POSTGRES_DB=organizacard

# EtherealMail
ETHEREAL_PORT=123
ETHEREAL_USER=seuuserethereal@ethereal.email
ETHEREAL_PASSWORD=suasenhaethereal

# Auth
JWT_SECRET=abc234@vkjdfv@
JWT_EXPIRES_IN=24h

# OAuth
GOOGLE_CLIENT_ID=SEU_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=SEU_CLIENT_SECRET